numpy<2.0.0
sentence-transformers
chromadb
gradio
pandas
PyMuPDF
easyocr
scikit-learn
openpyxl
joblib
langsmith
langgraph
langchain
langchain-community
langchain-core
psycopg2-binary
llama-index
fastapi
uvicorn
pytesseract
pillow
pdfplumber
openai
python-docx
tqdm
opencv-python-headless
transformers
imageio[pyav]
